@model ASPMVC_DependencyInjection_ServiceCollection_Samples.Models.SampleWebSettings

@{
    ViewData["Title"] = "OptionSample";
}

<h1>OptionSample</h1>



@Model.Update



@Html.Raw(Model.Title)

@Html.