
@{
    ViewData["Title"] = "TestExplizietesLayout";
    Layout = "_Layout";
}

<h1>TestExplizietesLayout</h1>


<p>Hier wollen wir die Layout.cshtml verwenden, obwohl in der _ViewStart->Das Layout-Attribut mit _Layout2.cshtml verwendet wird</p>

