@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen liebe MVC-Teilnehmer</h1>
    <p>Weitere Blogs finden sie unter  <a href="https://blog.ppedv.de">Zum Artikel</a>.</p>
</div>
